
body {
    background-color: #dae0e3;
    font-family: 'Droid Sans', sans-serif;
}


.main-content{
	   float: none;
    margin: 0 auto;
	background-color:white;
	margin-top:20%;
	height:30%;


}

.titulo{
	text-align: center;



}

.centered_content{
	text-align:center; 
	

}

.boton{
	


}


